<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cambia password</title>
	<link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="~{fragments/layout :: header}"></div>
<div class="page-container">
	<h1 class="page-title">Cambia password</h1>
	<form class="form-verticale" th:action="@{/area-personale/profilo/cambio-password}"
	      th:object="${cambioPasswordDto}" method="post">
		<div>
			<label for="passwordAttuale">Password attuale</label>
			<input type="password" id="passwordAttuale" th:field="*{passwordAttuale}">
			<span class="messaggio-errore" th:if="${#fields.hasErrors('passwordAttuale')}" th:errors="*{passwordAttuale}"></span>
			<span class="messaggio-errore" th:if="${erroreAttuale}" th:text="${erroreAttuale}"></span>
		</div>
		<div>
			<label for="passwordNuova">Nuova password</label>
			<input type="password" id="passwordNuova" th:field="*{passwordNuova}">
			<span class="messaggio-errore" th:if="${#fields.hasErrors('passwordNuova')}" th:errors="*{passwordNuova}"></span>
		</div>
		<div>
			<label for="confermaPasswordNuova">Conferma nuova password</label>
			<input type="password" id="confermaPasswordNuova" th:field="*{confermaPasswordNuova}">
			<span class="messaggio-errore" th:if="${#fields.hasErrors('confermaPasswordNuova')}" th:errors="*{confermaPasswordNuova}"></span>
			<span class="messaggio-errore" th:if="${erroreConferma}" th:text="${erroreConferma}"></span>
		</div>
		<button type="submit" class="btn">Salva</button>
	</form>
	<p><a th:href="@{/area-personale/profilo}">&laquo; Torna al profilo</a></p>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>
