<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Accesso negato</title>
	<link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="~{fragments/layout :: header}"></div>
<div class="page-container">
	<h1 class="page-title">403 &mdash; Accesso negato</h1>
	<p th:text="${errorMessage}">Non hai i permessi per compiere questa operazione.</p>
	<a class="btn" th:href="@{/}">Torna alla home</a>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>
